* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 10px;


    /* Variables */

    /* Colors */

    --lb: rgb(135, 216, 243);
    --lpu: rgb(180, 145, 180);
    --lo: rgb(226, 188, 64);
    --lg: rgb(145, 187, 47);
    --g: rgb(143, 136, 136);
    --dg: rgb(72, 151, 72);
    --p: rgb(255, 207, 215);
    --o: rgb(255, 180, 40) ;

    /* Fonts */

    --font: 'Permanent Marker', cursive;
    




}

/* .title > div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

.title {
  
    /* padding: 2rem; */
    text-align: center;
    color: #fff;
    font-family: var(--font);
    font-size: 3rem;
}
.container {
    
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-columns:  repeat(7,1fr);
    grid-template-rows: repeat(11, 1fr);

    /* grid-template: repeat( 7,1fr) / repeat(11, 1fr); */

    /* grid-template-columns: fit-content(200px); */

   
}

#header {
    background-color:var(--lb);
    grid-column: span 7;
   
}

#hero {
    background-color:var(--lpu) ;
    grid-column: span 3;
    grid-row: span 3;
}

#main {
    background-color: var(--lo);
    grid-column: span 4;
    grid-row:  span 5;

}

#sidebar {
    background-color: var(--lg) ;
    grid-column: span 3;
    grid-row:  span 4;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
    
}

#extra {
    background-color: var(--g);
    grid-column:  4 / 8;
    grid-row: span  2;
}

#related-imgs  {
    background-color: var(--dg);
    grid-column: span  5 ;
    grid-row: span 2 ;
}

#related-posts {
    background-color: var(--p);
    grid-column: 6/8;
    grid-row: span 2;
    
}

#footer {
    background-color: var(--o);
    grid-column: 1/ 8;
    grid-row: span 2;
}

/* .special {
    width: 0%;
} */

.inner-div {
    max-width: 50%;
}


/* Media Queries */
/* Media Queries */
/* Media Queries */

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
/* @media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { } */