:root {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 10px;

    /* Variables */

    /* Fonts */

    --font: 'Roboto', sans-serif;


    /* Colors */

    --accent: rgb(13 185 140/1);
    --nav-text: rgb(0 59 44);
    --border:  #e3e3e3;
    --border2: rgb(201 201 201);
    --bg: #F5F2E7;
    --green: #268b07;
    --l-gr: #8B9A46;
}

/* General styles */
/* General styles */

.full-page {
    display: flex;

}

.left {
    width: 50%;
}

.right {
    width: 50%;
    background-image: url(/Week1/Day2/shopping_website/Media/pexels-cottonbro-3737639.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 30vw;
    /* height: 30vh; */
    background-color: #8B9A46;
    border-radius: 25px;
    color: #fff;
    
}

.modal-title {
    text-align: center;
    font-size: 8rem;
    margin: 0;
    margin: 3rem 0;
    line-height: 6rem;
}

.modal-list {
    padding: 3rem ;
    margin-left: 2rem;
}

.modal-item {
    padding: 1rem 3rem 1rem 0rem;
    line-height: 3rem;
    
}
.wrapper {
    width: 100%;
    height: 100vh;
    
}

.modal li {
    font-size: 2.4rem;
    
}
.container {
   
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5rem;

}

/* Log in page */

.fa-carrot {
    font-size: 10rem;
    text-align: center;
    color: var(--l-gr);
    margin-bottom: 4rem;
}
main {
    width: 30vw;
}

#title {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    
}

.subtitle {

    text-align: center;
    font-size: 1.6rem ;
    margin: 1rem 0 2rem 0;
}

.link-login,
.form {
  
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

/* .fa-facebook {
    font-size: 8rem;
} */

.link {
    text-decoration: none;
    padding: 1rem 0;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: var(--nav-text);
    border: 1px solid var(--border2);
    font-weight: 500;
    font-size: 1.45rem;
    text-align: center;
    
    border-radius: 5px;
    transition: .3s ease;
    

}

.margin {
    margin: .5rem 0;
}

/* .facebook {
    background-color: #4267B2;
    color: #fff;
} */
/* .google {
    color: var(--nav-text);
} */

.facebook:hover,
.google:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    opacity: 90;
}



.div-p {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;

    margin-top: 2rem;
}

.email,
.pass,
.name {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 1.4rem;
    margin: .5rem 0 ;
}
.full-name {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.first {
    width: 45%;
}
 
 .second {
    width: 45%;
    margin-left: 1rem;
} 
.forgot {

    width: 100%;
}
.remember {
    margin-bottom: 3rem;
    text-align: right;
   
}

.remember-link {
    text-decoration: none;
    color: var(--nav-text);
    font-family: var(--font);
    font-size: 1.4rem;
    transition: .3s;
   
}

.remember-link:hover {
    color: var(--green);
}

.btn {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.3rem 0;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    border: var(--border);
    border-radius: 5px;
    color: #fff;
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--l-gr);

    transition: .3s;

}

.btn:hover {
    cursor: pointer;
    opacity: 90%;

}

.fa-comment{
    font-size: 3.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: var(--green);
    border-radius: 50%;
    padding: 1.3rem;
    color: #fff;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    transition: .3s;

}

.fa-comment:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}

footer {
    margin-top: 1.4rem;
    text-align: center;
}
.sign {
    padding: 1rem 1.5rem;
    transition: .3s;
    
    /* margin: 3.5rem 0; */
    
}

.sign:hover {
    background-color: var(--l-gr);
    color: #fff;
    border: none;
}

.footer-ques {
    margin: 2rem 0 3rem 0;
    font-size: 1.6rem;

}

.list {
    margin-top: 4rem;
    text-align: center;
    padding: 0;
}

.list p {
    font-size: 1.2rem;
    color: var(--nav-text);
    font-family: var(--font);
}

.list a {
    font-family: var(--font);
    color: rgb(87, 86, 86);
    text-decoration: none;
}

.list a:hover {
    color: #8B9A46;
    text-decoration: underline;
}
.item {
    display: inline;
    list-style: none;
    padding: 1rem;
    
}

.item-link {
    text-decoration: none;
    color: rgba(175, 172, 172, 0.884);
    font-family: var(--font);
    font-size: 1.3rem;
    transition: .3s;
}

.item-link:hover {
    color: var(--nav-text);
}

